* {
  margin: 0;
  padding: 0;
}
.App {
  transition: 1s ease;
  width: 101vw;
  height: 101vh;
  background-image: linear-gradient(to bottom, #067775 0%, #96fa72 100%);
  background-repeat: no-repeat;
}
hr{
  background-color: white;
  border: 0.1px solid white;
}
.App_DarkMode {
  transition: 0.4s ease-in-out;
  width: 100vw;
  height: 100vh;
  background-color: black;
  display: table;
}
.App_DarkMode > div > a > span {
  color: white;
}
